@import "tailwindcss";
@import "./base.css";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --gray-light: #b6bcc6;
  --gray: #1d1d1f;
  --gray-dark: #212124;
  --red: #e11010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-light: var(--gray-light);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-red: var(--red);

  --font-poppins: var(--font-poppins);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins) sans-serif;
}

.animate-ticker {
  animation: ticker-track 20s linear infinite;
}

@keyframes ticker-track {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}